.reddit {
  height: 200px;
  background-color: #fff;
  padding: 16px 24px 16px 16px;
}

.reddit p {
  font-size: 13px;
  text-align: justify;
}

.hidden {
  display: none;
}

.post {
  margin-bottom: 14px;
  padding-bottom: 14px;
  border-bottom: 1px solid #eee;
}

.post:last-child {
  border-bottom: none;
}

.postContainer {
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 84%;
  flex: 1;
}

.postMain {
  display: flex;
  width: 360px;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 14px;
  margin-top: 3px;
  overflow: hidden;
  padding-bottom: 3px;
}

.post img {
  left: 50%;
  top: 50%;
  height: 100%;
}

.title {
  flex: 1;
  text-align: justify;
  font-size: 14px;
}

.url, .comments, .author {
  margin-top: 5px;
  margin-right: 7px;
  display: inline-block;
  font-size: 11px;
}

.postDetails a {
  color: #308796;
}

.postDetails {
}
