/*main-styles*/

body {
  background-color: #fff;
  color: #1c1c1c;
  font-size: 14px;
}

.container {
  border: 1px solid #888;
  margin: 40px auto;
  max-width: 400px;
  max-height: 540px;
  font-family: "Helvetica Neue";
  font-weight: 200;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  border-radius: 2px;
  position: relative;
}

.scroll {
  overflow-y: scroll;
}

header {
  height: 20px;
  background-color: #fff;
  padding: 5px;
  text-align: right;
}

.container:after, .container:before {
  border-bottom: 14px solid #fff;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
  left: 50%;
  margin-left: -14px;
	content: "";
	display: inline-block;
	height: 0;
	width: 0;
	vertical-align: middle;
  position: absolute;
  top: -14px;
}

.container:before {
  border-bottom: 15px solid #888;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
  border-top-color: inherit;
  top: -15px;
  margin-left: -15px;
}

a {
  text-decoration: none;
  color: #1c1c1c;
}

a:hover {
  color: #1c1c1c;
}
